In [29]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import numpy as np
pd.set_option("display.max_rows", 200)
pd.set_option('display.max_columns', 500)

In [30]:
train = pd.read_csv('train.csv')

In [31]:
train.corr().round(4)['IN_TREINEIRO']

Unnamed: 0                     0.0067
NU_ANO                            NaN
CO_MUNICIPIO_RESIDENCIA       -0.0353
CO_UF_RESIDENCIA              -0.0349
NU_IDADE                      -0.2951
TP_ESTADO_CIVIL               -0.1179
TP_COR_RACA                    0.0097
TP_NACIONALIDADE              -0.0152
CO_MUNICIPIO_NASCIMENTO       -0.0182
CO_UF_NASCIMENTO              -0.0180
TP_ST_CONCLUSAO                0.5340
TP_ANO_CONCLUIU               -0.2577
TP_ESCOLA                     -0.2446
TP_ENSINO                         NaN
IN_TREINEIRO                   1.0000
CO_ESCOLA                         NaN
CO_MUNICIPIO_ESC                  NaN
CO_UF_ESC                         NaN
TP_DEPENDENCIA_ADM_ESC            NaN
TP_LOCALIZACAO_ESC                NaN
TP_SIT_FUNC_ESC                   NaN
IN_BAIXA_VISAO                -0.0136
IN_CEGUEIRA                       NaN
IN_SURDEZ                     -0.0074
IN_DEFICIENCIA_AUDITIVA        0.0009
IN_SURDO_CEGUEIRA                 NaN
IN_DEFICIENCIA_FISICA         -0.0181
IN_DEFICIENCIA_MENTAL         -0.0047
IN_DEFICIT_ATENCAO            -0.0048
IN_DISLEXIA                   -0.0033
IN_DISCALCULIA                -0.0033
IN_AUTISMO                        NaN
IN_VISAO_MONOCULAR            -0.0081
IN_OUTRA_DEF                  -0.0087
IN_SABATISTA                   0.0038
IN_GESTANTE                   -0.0119
IN_LACTANTE                   -0.0155
IN_IDOSO                      -0.0047
IN_ESTUDA_CLASSE_HOSPITALAR       NaN
IN_SEM_RECURSO                -0.0182
IN_BRAILLE                        NaN
IN_AMPLIADA_24                -0.0087
IN_AMPLIADA_18                -0.0109
IN_LEDOR                      -0.0109
IN_ACESSO                     -0.0178
IN_TRANSCRICAO                -0.0119
IN_LIBRAS                     -0.0081
IN_LEITURA_LABIAL             -0.0057
IN_MESA_CADEIRA_RODAS         -0.0066
IN_MESA_CADEIRA_SEPARADA      -0.0087
IN_APOIO_PERNA                -0.0081
IN_GUIA_INTERPRETE                NaN
IN_MACA                           NaN
IN_COMPUTADOR                     NaN
IN_CADEIRA_ESPECIAL               NaN
IN_CADEIRA_CANHOTO                NaN
IN_CADEIRA_ACOLCHOADA             NaN
IN_PROVA_DEITADO                  NaN
IN_MOBILIARIO_OBESO               NaN
IN_LAMINA_OVERLAY                 NaN
IN_PROTETOR_AURICULAR             NaN
IN_MEDIDOR_GLICOSE            -0.0033
IN_MAQUINA_BRAILE                 NaN
IN_SOROBAN                        NaN
IN_MARCA_PASSO                    NaN
IN_SONDA                          NaN
IN_MEDICAMENTOS               -0.0033
IN_SALA_INDIVIDUAL                NaN
IN_SALA_ESPECIAL              -0.0033
IN_SALA_ACOMPANHANTE              NaN
IN_MOBILIARIO_ESPECIFICO          NaN
IN_MATERIAL_ESPECIFICO            NaN
IN_NOME_SOCIAL                -0.0074
IN_CERTIFICADO                -0.1422
CO_UF_ENTIDADE_CERTIFICACAO       NaN
CO_MUNICIPIO_PROVA            -0.0321
CO_UF_PROVA                   -0.0319
TP_PRESENCA_CN                 0.0947
TP_PRESENCA_CH                 0.0947
TP_PRESENCA_LC                 0.0925
TP_PRESENCA_MT                 0.0925
NU_NOTA_CN                    -0.0379
NU_NOTA_CH                    -0.0535
NU_NOTA_LC                    -0.0283
NU_NOTA_MT                    -0.0223
TP_LINGUA                     -0.0364
TP_STATUS_REDACAO              0.0067
NU_NOTA_COMP1                 -0.0087
NU_NOTA_COMP2                 -0.0233
NU_NOTA_COMP3                 -0.0301
NU_NOTA_COMP4                 -0.0260
NU_NOTA_COMP5                 -0.0258
NU_NOTA_REDACAO               -0.0263
Q005                           0.0334
Q029                          -0.0439
Q030                          -0.1055
Q031                          -0.0348
Q032                          -0.0009
Q033                          -0.0713
Q034                           0.0553
Q035                          -0.0610
Q036                          -0.0695
Q037                          -0.0207
Q038                           0.0189
Q039                           0.0403
Q040                           0.0053
Q041                          -0.0462
Name: IN_TREINEIRO, dtype: float64

In [32]:
colunas = ['TP_ST_CONCLUSAO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT',
           'IN_TREINEIRO']

In [33]:
train = train[colunas]

In [34]:
train.corr().round(4)

,TP_ST_CONCLUSAO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,IN_TREINEIRO
TP_ST_CONCLUSAO,1.0000,0.0548,0.0548,0.0533,0.0533,0.5340
TP_PRESENCA_CN,0.0548,1.0000,1.0000,0.9434,0.9434,0.0947
TP_PRESENCA_CH,0.0548,1.0000,1.0000,0.9434,0.9434,0.0947
TP_PRESENCA_LC,0.0533,0.9434,0.9434,1.0000,1.0000,0.0925
TP_PRESENCA_MT,0.0533,0.9434,0.9434,1.0000,1.0000,0.0925
IN_TREINEIRO,0.5340,0.0947,0.0947,0.0925,0.0925,1.0000

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 6 columns):
TP_ST_CONCLUSAO    13730 non-null int64
TP_PRESENCA_CN     13730 non-null int64
TP_PRESENCA_CH     13730 non-null int64
TP_PRESENCA_LC     13730 non-null int64
TP_PRESENCA_MT     13730 non-null int64
IN_TREINEIRO       13730 non-null int64
dtypes: int64(6)
memory usage: 643.7 KB

In [36]:
train.describe().round(2)

,TP_ST_CONCLUSAO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,IN_TREINEIRO
count,13730.00,13730.00,13730.00,13730.00,13730.00,13730.00
mean,1.78,0.75,0.75,0.74,0.74,0.13
std,0.88,0.43,0.43,0.44,0.44,0.34
min,1.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,1.00,1.00,0.00,0.00,0.00
50%,2.00,1.00,1.00,1.00,1.00,0.00
75%,2.00,1.00,1.00,1.00,1.00,0.00
max,4.00,2.00,2.00,2.00,2.00,1.00

In [37]:
train.isnull().sum()

TP_ST_CONCLUSAO    0
TP_PRESENCA_CN     0
TP_PRESENCA_CH     0
TP_PRESENCA_LC     0
TP_PRESENCA_MT     0
IN_TREINEIRO       0
dtype: int64

In [38]:
y_train = train.IN_TREINEIRO
y_train

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       1
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
34       0
35       0
36       0
37       0
38       1
39       0
40       0
41       0
42       0
43       0
44       1
45       1
46       0
47       0
48       0
49       0
50       0
51       0
52       0
53       0
54       0
55       0
56       0
57       0
58       0
59       0
60       0
61       0
62       1
63       0
64       0
65       0
66       1
67       0
68       0
69       0
70       0
71       0
72       1
73       0
74       0
75       0
76       0
77       0
78       0
79       0
80       0
81       0
82       0
83       0
84       0
85       0
86       0
87       0
88       0
89       0
90       0
91       0
92       0
93       0
94       0
95       0
96       0
97       0
98       0
99       0
        ..
13630    0
13631    0
13632    1
13633    0
13634    0
13635    0
13636    0
13637    0
13638    0
13639    0
13640    0
13641    0
13642    0
13643    0
13644    0
13645    0
13646    1
13647    0
13648    0
13649    0
13650    0
13651    0
13652    0
13653    0
13654    1
13655    0
13656    0
13657    0
13658    0
13659    0
13660    0
13661    0
13662    0
13663    0
13664    0
13665    0
13666    1
13667    0
13668    0
13669    0
13670    0
13671    0
13672    0
13673    1
13674    0
13675    0
13676    0
13677    0
13678    0
13679    0
13680    0
13681    0
13682    0
13683    0
13684    0
13685    0
13686    0
13687    0
13688    0
13689    0
13690    0
13691    0
13692    0
13693    0
13694    0
13695    0
13696    0
13697    0
13698    0
13699    0
13700    0
13701    0
13702    0
13703    0
13704    0
13705    0
13706    0
13707    0
13708    0
13709    0
13710    1
13711    1
13712    0
13713    0
13714    0
13715    0
13716    0
13717    0
13718    1
13719    0
13720    0
13721    0
13722    0
13723    1
13724    0
13725    0
13726    0
13727    1
13728    0
13729    0
Name: IN_TREINEIRO, Length: 13730, dtype: int64

In [39]:
X_train = train
X_train.drop(columns=['IN_TREINEIRO'], inplace=True)

In [40]:
X_train.columns

Index(['TP_ST_CONCLUSAO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT'],
      dtype='object')

In [41]:
colunas

['TP_ST_CONCLUSAO',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'IN_TREINEIRO']

In [42]:
colunas_test = colunas.copy()

In [43]:
colunas_test.pop()

'IN_TREINEIRO'

In [44]:
colunas_test.append('NU_INSCRICAO')

In [45]:
test = pd.read_csv('test.csv', usecols=colunas_test)

In [46]:
num_inscricao = test['NU_INSCRICAO']

In [19]:
test.isnull().sum()

NU_INSCRICAO       0
TP_ST_CONCLUSAO    0
TP_PRESENCA_CN     0
TP_PRESENCA_CH     0
TP_PRESENCA_LC     0
TP_PRESENCA_MT     0
dtype: int64

In [20]:
test['IN_TREINEIRO'] = None

In [21]:
y_test = test['IN_TREINEIRO']
y_test

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
30      None
31      None
32      None
33      None
34      None
35      None
36      None
37      None
38      None
39      None
40      None
41      None
42      None
43      None
44      None
45      None
46      None
47      None
48      None
49      None
50      None
51      None
52      None
53      None
54      None
55      None
56      None
57      None
58      None
59      None
60      None
61      None
62      None
63      None
64      None
65      None
66      None
67      None
68      None
69      None
70      None
71      None
72      None
73      None
74      None
75      None
76      None
77      None
78      None
79      None
80      None
81      None
82      None
83      None
84      None
85      None
86      None
87      None
88      None
89      None
90      None
91      None
92      None
93      None
94      None
95      None
96      None
97      None
98      None
99      None
        ...
4470    None
4471    None
4472    None
4473    None
4474    None
4475    None
4476    None
4477    None
4478    None
4479    None
4480    None
4481    None
4482    None
4483    None
4484    None
4485    None
4486    None
4487    None
4488    None
4489    None
4490    None
4491    None
4492    None
4493    None
4494    None
4495    None
4496    None
4497    None
4498    None
4499    None
4500    None
4501    None
4502    None
4503    None
4504    None
4505    None
4506    None
4507    None
4508    None
4509    None
4510    None
4511    None
4512    None
4513    None
4514    None
4515    None
4516    None
4517    None
4518    None
4519    None
4520    None
4521    None
4522    None
4523    None
4524    None
4525    None
4526    None
4527    None
4528    None
4529    None
4530    None
4531    None
4532    None
4533    None
4534    None
4535    None
4536    None
4537    None
4538    None
4539    None
4540    None
4541    None
4542    None
4543    None
4544    None
4545    None
4546    None
4547    None
4548    None
4549    None
4550    None
4551    None
4552    None
4553    None
4554    None
4555    None
4556    None
4557    None
4558    None
4559    None
4560    None
4561    None
4562    None
4563    None
4564    None
4565    None
4566    None
4567    None
4568    None
4569    None
Name: IN_TREINEIRO, Length: 4570, dtype: object

In [22]:
test.drop(columns=['NU_INSCRICAO'], inplace=True)
X_test = test

In [23]:
X_test.drop(columns=['IN_TREINEIRO'], inplace=True)
X_test

,TP_ST_CONCLUSAO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT
0,1,1,1,0,0
1,1,0,0,0,0
2,3,1,1,0,0
3,2,1,1,1,1
4,1,1,1,1,1
5,2,1,1,1,1
6,3,0,0,0,0
7,2,1,1,1,1
8,3,1,1,1,1
9,1,1,1,1,1
10,2,1,1,1,1
11,2,1,1,1,1
12,1,1,1,1,1
13,2,1,1,1,1
14,1,1,1,1,1
15,2,1,1,1,1
16,1,1,1,1,1
17,3,1,1,1,1
18,2,1,1,0,0
19,1,1,1,1,1
20,2,1,1,1,1
21,1,1,1,1,1
22,1,0,0,0,0
23,1,1,1,1,1
24,2,1,1,1,1
25,1,1,1,1,1
26,3,0,0,0,0
27,1,1,1,1,1
28,2,1,1,1,1
29,4,1,1,1,1
30,2,1,1,1,1
31,2,1,1,1,1
32,2,1,1,1,1
33,4,1,1,1,1
34,2,1,1,1,1
35,1,1,1,1,1
36,2,1,1,1,1
37,2,0,0,0,0
38,1,1,1,1,1
39,1,0,0,0,0
40,3,1,1,1,1
41,1,1,1,1,1
42,2,1,1,1,1
43,2,1,1,1,1
44,3,0,0,0,0
45,1,1,1,1,1
46,3,1,1,1,1
47,1,0,0,0,0
48,4,0,0,0,0
49,3,1,1,1,1
50,1,1,1,1,1
51,1,1,1,1,1
52,1,1,1,1,1
53,1,0,0,0,0
54,3,1,1,1,1
55,4,1,1,1,1
56,1,1,1,1,1
57,1,1,1,1,1
58,2,1,1,1,1
59,4,1,1,1,1
60,2,1,1,1,1
61,2,1,1,1,1
62,2,1,1,1,1
63,2,1,1,1,1
64,3,1,1,1,1
65,1,1,1,1,1
66,2,1,1,1,1
67,4,1,1,1,1
68,1,1,1,1,1
69,2,1,1,1,1
70,1,0,0,0,0
71,1,1,1,1,1
72,1,1,1,1,1
73,3,1,1,1,1
74,2,1,1,1,1
75,2,1,1,1,1
76,2,0,0,0,0
77,1,1,1,1,1
78,3,1,1,1,1
79,2,1,1,1,1
80,4,0,0,0,0
81,2,1,1,1,1
82,1,1,1,1,1
83,1,1,1,1,1
84,1,0,0,0,0
85,2,0,0,0,0
86,3,1,1,1,1
87,1,1,1,1,1
88,1,0,0,0,0
89,2,0,0,0,0
90,1,1,1,1,1
91,2,1,1,1,1
92,1,0,0,0,0
93,3,1,1,1,1
94,2,1,1,1,1
95,1,1,1,1,1
96,3,1,1,1,1
97,1,1,1,1,1
98,2,1,1,1,1
99,3,1,1,1,1
...,...,...,...,...,...
4470,3,1,1,1,1
4471,2,1,1,1,1
4472,3,1,1,1,1
4473,1,1,1,1,1
4474,1,0,0,0,0
4475,4,0,0,0,0
4476,2,1,1,1,1
4477,3,1,1,1,1
4478,3,1,1,1,1
4479,1,0,0,0,0
4480,1,0,0,0,0
4481,3,1,1,1,1
4482,3,0,0,0,0
4483,1,1,1,1,1
4484,3,1,1,1,1
4485,3,1,1,1,1
4486,2,1,1,1,1
4487,3,1,1,1,1
4488,1,1,1,1,1
4489,3,0,0,0,0
4490,2,1,1,1,1
4491,1,1,1,1,1
4492,1,0,0,0,0
4493,1,1,1,1,1
4494,2,1,1,1,1
4495,1,0,0,0,0
4496,1,0,0,0,0
4497,2,0,0,0,0
4498,2,1,1,1,1
4499,1,1,1,1,1
4500,2,1,1,1,1
4501,1,0,0,0,0
4502,1,0,0,0,0
4503,3,1,1,1,1
4504,1,1,1,1,1
4505,1,1,1,1,1
4506,3,1,1,1,1
4507,2,1,1,1,1
4508,1,0,0,0,0
4509,2,1,1,1,1
4510,2,1,1,1,1
4511,3,1,1,1,1
4512,1,0,0,0,0
4513,1,0,0,0,0
4514,1,0,0,0,0
4515,1,1,1,1,1
4516,1,0,0,0,0
4517,2,1,1,1,1
4518,1,1,1,1,1
4519,1,1,1,1,1
4520,3,1,1,1,1
4521,3,1,1,1,1
4522,2,1,1,1,1
4523,1,1,1,1,1
4524,1,1,1,1,1
4525,1,1,1,1,1
4526,1,0,0,0,0
4527,2,1,1,1,1
4528,1,1,1,1,1
4529,2,1,1,1,1
4530,1,0,0,0,0
4531,3,1,1,1,1
4532,2,1,1,1,1
4533,3,1,1,1,1
4534,4,1,1,1,1
4535,2,1,1,1,1
4536,2,1,1,1,1
4537,1,1,1,1,1
4538,1,0,0,0,0
4539,2,1,1,1,1
4540,2,1,1,1,1
4541,1,1,1,1,1
4542,1,1,1,1,1
4543,1,1,1,1,1
4544,1,0,0,0,0
4545,3,1,1,1,1
4546,2,1,1,1,1
4547,2,1,1,1,1
4548,1,1,1,1,1
4549,3,0,0,0,0
4550,1,1,1,1,1
4551,4,0,0,0,0
4552,1,0,0,0,0
4553,2,1,1,1,1
4554,3,0,0,0,0
4555,3,1,1,1,1
4556,2,1,1,1,1
4557,2,1,1,1,1
4558,4,0,0,0,0
4559,1,1,1,1,1
4560,2,1,1,1,1
4561,2,1,1,1,1
4562,1,0,0,0,0
4563,2,1,1,1,1
4564,1,1,1,1,1
4565,2,1,1,1,1
4566,1,1,1,1,1
4567,1,1,1,1,1
4568,2,1,1,1,1
4569,1,1,1,1,1

In [24]:
modelo = RandomForestClassifier(n_estimators=2000, n_jobs=-1, max_depth=100, min_samples_leaf=4,
                             min_samples_split=10, random_state=0)

In [47]:
%%time
modelo.fit(X_train, y_train)

CPU times: user 9.98 s, sys: 1.34 s, total: 11.3 s
Wall time: 5.11 s

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=100, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=4, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=2000, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [48]:
print('acurcia = {}'.format(modelo.score(X_train, y_train).round(2)))

acurcia = 0.96

In [50]:
y_predict = modelo.predict(X_test)
y_predict

array([0, 0, 1, ..., 0, 0, 0])

In [51]:
y_predict = pd.Series(y_predict)
y_predict

0       0
1       0
2       1
3       0
4       0
5       0
6       1
7       0
8       1
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      1
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      1
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      1
41      0
42      0
43      0
44      1
45      0
46      1
47      0
48      0
49      1
50      0
51      0
52      0
53      0
54      1
55      0
56      0
57      0
58      0
59      0
60      0
61      0
62      0
63      0
64      1
65      0
66      0
67      0
68      0
69      0
70      0
71      0
72      0
73      1
74      0
75      0
76      0
77      0
78      1
79      0
80      0
81      0
82      0
83      0
84      0
85      0
86      1
87      0
88      0
89      0
90      0
91      0
92      0
93      1
94      0
95      0
96      1
97      0
98      0
99      1
       ..
4470    1
4471    0
4472    1
4473    0
4474    0
4475    0
4476    0
4477    1
4478    1
4479    0
4480    0
4481    1
4482    1
4483    0
4484    1
4485    1
4486    0
4487    1
4488    0
4489    1
4490    0
4491    0
4492    0
4493    0
4494    0
4495    0
4496    0
4497    0
4498    0
4499    0
4500    0
4501    0
4502    0
4503    1
4504    0
4505    0
4506    1
4507    0
4508    0
4509    0
4510    0
4511    1
4512    0
4513    0
4514    0
4515    0
4516    0
4517    0
4518    0
4519    0
4520    1
4521    1
4522    0
4523    0
4524    0
4525    0
4526    0
4527    0
4528    0
4529    0
4530    0
4531    1
4532    0
4533    1
4534    0
4535    0
4536    0
4537    0
4538    0
4539    0
4540    0
4541    0
4542    0
4543    0
4544    0
4545    1
4546    0
4547    0
4548    0
4549    1
4550    0
4551    0
4552    0
4553    0
4554    1
4555    1
4556    0
4557    0
4558    0
4559    0
4560    0
4561    0
4562    0
4563    0
4564    0
4565    0
4566    0
4567    0
4568    0
4569    0
Length: 4570, dtype: int64

In [52]:
answer = pd.concat([num_inscricao, y_predict], axis=1)

In [53]:
answer.rename(columns={0:'IN_TREINEIRO'}, inplace=True)

In [54]:
answer.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [55]:
answer.to_csv('answer.csv',columns=['NU_INSCRICAO', 'IN_TREINEIRO'], sep=',', index=False)